      body {
        padding: 0%;
        margin: 0px;
    }
     
      a {
      text-decoration: none;
      color: #272a31;
     }

     a :hover {
      color: #272a31;
      text-decoration: none;
     } 

     .hr-title {
      border-bottom: 1px solid #ec5242;
      width: 5%;
    }
    
    .hr-speakers {
      border-bottom: 1px solid #3c3e43;
      width: 5%;
    }
    
    .partners-section {
      background-color: #414246;
      color: #fff;
      text-align: center;
      margin-bottom: 20px;
    }
    
    .partners {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    
    .partners figure {
      margin: 2rem;
    }
    
    .partners img {
      filter: contrast(8);
    }

      .main-section {
      background-image: url(/images/backgroundaboutpage1.jpg);
      background-repeat: no-repeat;
      width: 100%;
      background-size: cover;
      font-family: 'Lato', sans-serif;
      color: #ec5242;
     }

     .title1 {
      padding-left: 35px;
     }

     .firstline {
      font-size: 18px;
      margin-bottom: -25px;
     }

     .header {
      font-size: 30px;
      font-weight: bolder;
      margin-bottom: 30px;
      padding-top: 30px;
     }

     .quote {
      text-align: left;
      color: #272a31;
      font-size: 14px;
      width: 85%;
      padding: 10px 15px 10px 15px;
      border: 3px solid #fff;
      margin: auto;
     }

     .details-1 {
      color: #272a31;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
      padding-left: 35px;
      margin-top: 15px;
     }

     .details-2 {
      color: #272a31;
      font-size: 16px;
      padding-bottom: 80px;
      padding-left: 35px;
     }

     fa-chalkboard-teacher {
      color: white;
     }

     .container1 {
      background-image: url(images/backgroundaboutpage.jpg);
     }

     .box-1 {
      color: #ec5242;
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      font-weight: bold;
     }

     .box-2 {
      color: #fff;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
     } 

     .mp {
      text-align: center;
      font-family: 'Lato', sans-serif;
      color: #fff;
      font-size: 30px;
     }

     .speaker-avatar {
      width: 80%;
      height: 30vh;
      object-fit: cover;
      margin-left: 20px;
    }

    .featured {
      width: 100%;
      height: auto;
      text-align: center;
    }
    .about-title1 {
      text-align: center;
    }

    .about-firstline {
      margin-bottom: 5px;
      font-size: 28px;
    }

    .about-header {
      font-size: 40px;
    }

    .about-quote {
      text-align: center;
      color: #272a31;
      background-color: white;
      font-size: 14px;
      width: 90%;
      padding: 10px 10px 10px 10px;
      border: 1px solid rgb(196, 191, 191);
      margin: auto;
     }

     .about-details-1 {
      color: #272a31;
      text-align: center;
      font-size: 13px;
      padding-top: 15px;
     }

     .about-details-2 {
      color: #272a31;
      text-align: center;
      font-size: 13px;
      font-weight: 700;
      text-decoration: underline;
      padding-bottom: 30px;
      margin-top: -15px;
     }

     .about-mp {
      text-align: center;
     }

     .logo-img {
      text-align: center;
      background-color: white;
      width: 90%;
      padding: 30px 10px 30px 10px;
      border: 1px solid rgb(196, 191, 191);
      margin-right: 40px;
     }

     .about-info {
      text-align: center;
      font-size: 14px;
     }

     .about-box-2 {
      text-align: center;
      padding-right: 40px;
     }
    

    /* Mobile view */
@media screen and (max-width: 768px) { 

  a {
    text-decoration: none;
    color: #272a31;
   }

   a :hover {
    color: #272a31;
    text-decoration: none;
   } 

    .main-section {
      padding-top: 10px;
    }

   .nav-logo {
    color: #272a31;  
    font-size: 20px;
    text-decoration: none;
    }

    .nav-logo :hover {
      color: #272a31;  
      }

    .nav-list {
      display: flex;
      position: fixed;
      flex-direction: column;
      height: 100%;
      width: 100%;
      text-align: center;
      left: -100%;
      background: #ec5242;
      border: 4px solid black;
      border-radius: 24px;
      top: 0;
      gap: 30px;
      padding-top: 70px;
    }
    
    .nav-list.active {
      left: 0;
    }

    .navbarfirst {
      display: none;
    }

    .navbarsecond {
      display: none;
    }

    .nav-item {
      color: #272a31;
      display: row;
      align-items: center;
      justify-content: start;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      padding-right: 20px;
      text-decoration: none;
     }

     .nav-item-2 {
        color: #272a31;
        padding: 8px 8px;
        margin-right: 20px;
  }

     .bar {
      display: block;
      cursor: pointer;
      padding-bottom: 40px;
      color:  #272a31;
      padding-left: 30px;
      
    }

    .bar-1 {
      width: 25px;
      height: 3px;
      background-color: #272a31;
      margin: 5px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all;
     
    }

    .bar.active .bar-1:nth-child(2) {
      opacity: 0;
    }
    
    .bar.active .bar-1:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
      background-color: #272a31;
    }
    
    .bar.active .bar-1:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
      background-color: #272a31;
    }

    .box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #272a31;
      list-style: none;
      margin-bottom: 10px; 
      padding: 20px 20px 20px 20px;
      margin: 15px 10px;
      width: 88%;
      opacity: 0.8;
      
     }

     .box-1 {
      margin: 15px;
      width: 80%;
      height: 5vh;
     }

     .box-2 {
      text-align: left;
     }

     .about-box-2 {
      text-align: center;
      padding-right: 40px;
     }

     .logo-img {
      text-align: center;
      background-color: white;
      width: 90%;
      padding: 30px 10px 30px 10px;
      border: 1px solid rgb(196, 191, 191);
      margin-right: 40px;
     }

    /*  .hr-title-1 {
      border-bottom: 1px solid rgb(196, 191, 191);
      width: 100%;  
      margin-left: -20px;
      margin-top: 40px;
     } */

     .about-info {
      text-align: center;
      font-size: 14px;
     }

     .about-pst {
      text-align: center;
      margin-bottom: 100px;
      margin-top: -40px;
     }

     .about-pst-1 {
      margin-top: 15px;
     }

     .about-past {
      background-image: url(/images/2019image.jpg);
      color: #fff;
      padding: 50px;
      width: 95%;
      margin-left: 10px;
      text-align: center;
     }

    .mp-1 {
      display: none;
    }

    .button {
      background-color: #ec5242;
      border: none;
      padding: 35px;
      color: #fff;
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      width: 70%;
      margin: 50px 75px;
      padding-bottom: 40px;
    }

    .footer-1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .partners-section {
      background-color: #3f444f;
      padding-bottom: 20px;
    }
    
    .partners-heading {
      text-align: center;
      color: #fff;
      padding-top: 10%;
    }
    
    .partners-flex {
      width: 90%;
      margin: auto;
      margin-top: 10%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
        
    .partner-image {
      width: 125px;
      height: 40px;
    }

    .section-speakers-heading {
      text-align: center;
    }
    
    .featured-speakers {
      width: 92.5%;
      margin: auto;
    }
    
    .speaker-section {
      margin-block: 5%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 1px 1px;
      margin-right: 30px;
      gap: 1px;
    }
    
    .speaker-image-section {
      display: flex; 
      justify-content: center;
    }
    
    .speaker-image {
      width: 128px;
      height: 128px;
    }
    
    .speaker-details {
      padding-left: 3%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .speaker-name {
      margin-block: 0;
    }
    
    .speaker-designation {
      margin-block: 0;
      font-size: 0.95rem;
      color: #ec5242;
    }
    
    #dots {
      margin: 0;
    }
    
    .speaker-history {
      font-size: 0.85rem;
      width: 100%;
      margin-top: 5%;
    }

    
    

}

/* Desktop View */
@media screen and (min-width: 768px) { 

   .navbarfirst {
    background-color: #272a31;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: end;
    padding-top: 10px;
   }

   .navbarfirst :hover {
    color: #ec5242;
    text-decoration: none;
   }

   .navbarsecond {
    background-color: #fff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    
   }

   .navbarsecond :hover {
    color: #ec5242;
    
   }

   .nav-list {
    display: none;
  }

   .nav-logo {
    margin-right: 500px;
    padding-left: 210px;   
   }

   .fa-facebook-f {
    color: white;
   }

   .fa-twitter {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
   }

   .nav-item {
    color: #272a31;
    display: row;
    align-items: center;
    justify-content: start;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding-right: 40px;
    text-decoration: none;
   }

   .nav-item-101 {
    color: #fff;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    padding-right: 30px;
   }

   .nav-item-102 {
    color: #fff;
    font-size: 12px;
    font-family: 'Lato', sans-serif; 
    padding-right: 30px;
   }

   .nav-item-103 {
    color: #fff;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    padding-right: 150px;
   }

   .nav-item-2 {
    color: #ec5242;
    border: 4px solid #ec5242;
    padding: 8px 8px;
    margin-right: 50px;
   } 

   .bar {
    display: none;
   }

   .title1 {
    padding-top: 60px;
    padding-left: 80px;
   }

   .firstline {
    font-size: 30px;
   }

   .header {
    font-size: 50px;
   }

   .quote {
    width: 30%;
    margin: 80px;
    font-size: 11px;
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
   }

   .details {
    padding-left: 55px;
    padding-bottom: 20px;
   }

   .container1 {
    width: 100%;
    height: 70vh;
   }

   .box-container {
    padding-left: 180px;
    padding-top: 20px;
   }

   .box {
    text-align: center;
    background-color: #272a31;
    list-style: none;
    margin-bottom: 20px; 
    padding: 10px;
    width: 15%;
    height: 30vh;
    opacity: 0.8;
    float: left;
    margin-left: 5px;
   }

  .button {
    display: none;
  } 

  .mp-1 {
    color: #fff;
    font-family: lato;
    font-size: 15px;
    padding-left: 600px;
    text-decoration: underline;
    padding-top: 100px;
  }

  .about-quote {
    text-align: center;
    color: #272a31;
    background-color: white;
    font-size: 14px;
    width: 50%;
    padding: 10px 10px 10px 10px;
    border: 1px solid rgb(196, 191, 191);
    margin: auto;
   }

   .logo-img {
    text-align: center;
    background-color: white;
    width: 50%;
    padding: 30px 10px 30px 10px;
    border: 1px solid rgb(196, 191, 191);
    margin: auto;
  }

  

  .about-pst {
    text-align: center;
    margin-top: -40px;
    display: flex;
    width: 100%;
    margin-left: 150px;
   }

   .about-pst-1 {
    text-align: center;
    padding-bottom: 30px;
    margin-right: 320px;
    display: flex;
    width: 100%;
    height: 80vh;
   }

   .about-past {
    background-image: url(/images/2019image.jpg);
    background-repeat: no-repeat;
    color: #fff;
    padding: 50px;
    margin-left: 10px;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-left: 40px;
    
   }

   .see {
    margin-left: 250px;
    width: 100%;
   }

  /* partner section */
  .container-2 {
    background-color: #cec6c6;
    display: flex;
    height: auto;
    width: 100%;
}

/* speakers section */
.section-speakers-heading {
  text-align: center;
}

.line {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 300px;
}

.speaker-image {
  width: 128px;
  height: 128px;
  margin-block: 0;
}

.speaker-history {
  margin: 0;
  width: 95%;
}

.featured-speakers {
  display: grid;
  width: 85%;
  grid-template-columns: 0.5fr 0.5fr;
}

.f-speakers {
  width: 85%;
  grid-template-columns: 0.5fr 0.5fr;
}

.row-speaker {
    display: flex;
    flex-direction: column;
    background-color: #444242;   
}

.take {
  width: 100%;
  display: flex;
  justify-content: center;

}

.featured {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 300px;
    
}

    .featured-speakers {
      width: 92.5%;
      margin: auto;
    }
    
    .speaker-section {
      margin-block: 5%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 1px 1px;
      margin-right: 30px;
      gap: 1px;
    }
    
    .speaker-image-section {
      display: flex; 
      justify-content: center;
    }
    
    .speaker-image {
      width: 128px;
      height: 128px;
    }
    
    .speaker-details {
      padding-left: 3%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .speaker-name {
      margin-block: 0;
    }
    
    .speaker-designation {
      margin-block: 0;
      font-size: 0.95rem;
      color: #ec5242;
    }
    
    #dots {
      margin: 0;
    }
    
    .speaker-history {
      font-size: 0.85rem;
      width: 100%;
      margin-top: 5%;
    }
.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: -60px;
  padding-top: -40px;
}

.partners-heading {
padding-top: 3%;
margin-bottom: 1%;
}

.partners-flex {
  width: 75%;
  /* margin: auto; */
  margin-top: 10%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  margin-left: 170px;
  margin-right: 50px;
  
}

.partners-list {
  margin-bottom: 3%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.our-partners {
  background-color: #444242;
  display: grid;
  flex-direction: column;
  height: 300px;
  width: 100%;
  margin-top: -0px;
}

.partner-image {
    width: 180px;
    height: 80px;
    margin-bottom: 100px;
    
  
}
}
