     black-color{
       color:  #272a31;
    }

     orange-color{
        color:  #ec5242;
     }

     grey-color{
        color:  #d3d3d3;
     }

      .main-section {
      background-image: url(/images/backgroundhomepage.jpg);
      background-repeat: no-repeat;
      width: 100%;
      background-size: cover;
      padding: 100px 0;
      font-family: lato;
      color: #ec5242;
      padding-left: 20px;
      padding-top: 20px;
      
     }

     .firstline {
      font-size: 18px;
      margin-bottom: -25px;
     }

     .header {
      font-size: 30px;
      font-weight: bolder;
      margin-bottom: 35px;
     }

     .quote {
      text-align: left;
      color: #272a31;
      font-size: 14px;
      width: 85%;
      padding: 5px 10px 5px 10px;
      border: 3px solid #fff;
      
     }

     .details-1 {
      color: #272a31;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
     }

     .details-2 {
      color: #272a31;
      font-size: 16px;
      padding-bottom: 5px;
     }

     .container1 {
      background-image: url(images/backgroundaboutpage.jpg);
      
     }

     .box-1 {
      color: #ec5242;
      font-family: lato;
      padding-right: 40px;
      font-size: 20px;
      font-weight: bold;
     }

     .box-2 {
      color: #fff;
      font-family: lato;
      font-size: 15px;
     } 

     .mp {
      text-align: center;
      font-family: lato;
      color: #fff;
      font-size: 30px;
      padding-top: 30px;
      border-bottom: 1px solid #ec5242;
     }

    

    /* Mobile view */
@media screen and (max-width: 768px) { 

    .navbarfirst {
      display: none;
    }

    .navbarsecond {
      display: none;
    }

     .bar {
      display: block;
      cursor: pointer;
      padding-bottom: 40px;
      color:  #272a31;
      
    }

    .bar-1 {
      width: 25px;
      height: 3px;
      background-color: #272a31;
      margin: 5px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all;
     
    }

    .bar.active .bar-1:nth-child(2) {
      opacity: 0;
    }
    
    .bar.active .bar-1:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
      background-color: #fff;
    }
    
    .bar.active .bar-1:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
      background-color: #fff;
    }

    .box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #272a31;
      list-style: none;
      margin-bottom: 15px; 
      border: 2px solid #fff;
      padding: 10px 10px;
      margin: 15px 10px;
      width: 80%;
      
     }

    .mp-1 {
      display: none;
    }

    .btn {
      background-color: #ec5242;
      border: none;
      padding: 35px;
      color: #fff;
      text-align: center;
      font-family: lato;
      font-size: 12px;
      width: 60%;
      margin: 50px 90px;
    }

}

/* Desktop View */
@media screen and (min-width: 768px) { 

  .navbarfirst {
    background-color: #272a31;
    width: 100%;
    font-size: 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family: lato;
   }

   .navbarsecond {
    background-color: #d3d3d3;
    padding-bottom: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #272a31;
    font-family: lato;
   }

   .nav-item {
    color: #272a31;
   }

   .nav-item-1 {
    color: #fff;
   }

   .bar {
    display: none;
   }

  .btn {
    display: none;
  }

  .mp-1 {
    color: #fff;
    font-family: lato;
    font-size: 15px;
    align-content: center;
  }
}



