     a {
      text-decoration: none;
     }

      .main-section {
      background-image: url(/images/backgroundaboutpage1.jpg);
      background-repeat: no-repeat;
      width: 100%;
      background-size: cover;
      font-family: lato;
      color: #ec5242;
     }

     .title1 {
      padding-left: 25px;
     }

     .firstline {
      font-size: 18px;
      margin-bottom: -25px;
     }

     .header {
      font-size: 30px;
      font-weight: bolder;
      margin-bottom: 35px;
     }

     .quote {
      text-align: left;
      color: #272a31;
      font-size: 14px;
      width: 85%;
      padding: 5px 10px 5px 10px;
      border: 3px solid #fff;
      margin: auto;
     }

     .details-1 {
      color: #272a31;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
      padding-left: 25px;
     }

     .details-2 {
      color: #272a31;
      font-size: 16px;
      padding-bottom: 80px;
      padding-left: 25px;
     }

     .container1 {
      background-image: url(images/backgroundaboutpage.jpg);
     }

     .box-1 {
      color: #ec5242;
      font-family: lato;
      padding-right: 40px;
      font-size: 20px;
      font-weight: bold;
     }

     .box-2 {
      color: #fff;
      font-family: lato;
      font-size: 15px;
     } 

     .mp {
      text-align: center;
      font-family: lato;
      color: #fff;
      font-size: 30px;
      padding-top: 30px;
      border-bottom: 1px solid #ec5242;
     }

    /* Mobile view */
@media screen and (max-width: 768px) { 

    .main-section {
      padding-top: 10px;
    }

   .nav-logo {
    color: #ec5242;  
    font-size: 20px
    }

    .navbarfirst {
      display: none;
    }

    .navbarsecond {
      display: none;
    }

     .bar {
      display: block;
      cursor: pointer;
      padding-bottom: 40px;
      color:  #272a31;
      padding-left: 25px;
    }

    .bar-1 {
      width: 25px;
      height: 3px;
      background-color: #272a31;
      margin: 5px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all;
     
    }

    .bar.active .bar-1:nth-child(2) {
      opacity: 0;
    }
    
    .bar.active .bar-1:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
      background-color: #fff;
    }
    
    .bar.active .bar-1:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
      background-color: #fff;
    }

    .box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #272a31;
      list-style: none;
      margin-bottom: 15px; 
      padding: 10px 10px;
      margin: 15px 10px;
      width: 85%;
      opacity: 0.8;
     }

    .mp-1 {
      display: none;
    }

    .btn {
      background-color: #ec5242;
      border: none;
      padding: 35px;
      color: #fff;
      text-align: center;
      font-family: lato;
      font-size: 12px;
      width: 60%;
      margin: 50px 90px;
    }

    .footer-1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

}

/* Desktop View */
@media screen and (min-width: 768px) { 

   .navbarfirst {
    background-color: #272a31;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: end;
    padding-top: 10px;
   }

   .navbarsecond {
    background-color: #fff;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
   }

   .nav-logo {
    padding-right: 360px;
    padding-left: 120px;   
    color: #ec5242;  
    font-size: 20px
   }

   .fa-facebook-f {
    color: white;
   }

   .fa-twitter {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
   }

   .nav-item {
    color: #272a31;
    display: row;
    align-items: center;
    justify-content: start;
    color: #272a31;
    font-family: lato;
    font-size: 15px;
    padding-right: 60px;
   }

   .nav-item-101 {
    color: #fff;
    font-size: 12px;
    font-family: lato; 
    padding-right: 30px;
   }

   .nav-item-102 {
    color: #fff;
    font-size: 12px;
    font-family: lato; 
    padding-right: 30px;
   }

   .nav-item-103 {
    color: #fff;
    font-size: 12px;
    font-family: lato; 
    padding-right: 150px;

   }

   .nav-item-2 {
    color: #ec5242;
    border: 4px solid #ec5242;
    padding: 8px 8px;
    margin-right: 50px;
   } 

   .bar {
    display: none;
   }

   .title1 {
    padding-top: 60px;
    padding-left: 80px;
   }

   .firstline {
    font-size: 25px;
   }

   .header {
    font-size: 40px;
   }

   .quote {
    width: 30%;
    margin: 80px;
    font-size: 11px;
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
   }

   .details {
    padding-left: 55px;
    padding-bottom: 20px;
   }

   .box {
    /* text-align: center; */
    
    justify-content: space-between;
    background-color: #272a31;
    list-style: none;
    margin-bottom: 20px; 
    padding: 10px 10px;
    margin: 15px 10px;
    width: 15%;
    opacity: 0.8;
   }

   

  .btn {
    display: none;
  }

  .mp-1 {
    color: #fff;
    font-family: lato;
    font-size: 15px;
    align-content: center;
  }
}



